<html xmlns:th="http://www.thymeleaf.org" xmlns:style="http://www.w3.org/1999/xhtml">

<head>
    <link rel="stylesheet" th:href="@{/styles/design.css}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Event Config</title>

</head>
<style>
table, th, td {
  border:1px solid black;
}

</style>
<body>

<div style="display: flex">
    <h1 style="width:60%">Aktuelle Events</h1>
    <h1 style="width:40%">Neues Event</h1>
</div>
<div style="display: flex;justify-content:flex-end;margin:20px;">

    <table style="width:60%;margin:5px;">

        <tr>
            <td>ID</td>
            <td>Distance</td>
            <td>Cost</td>
            <td>Delete</td>
        </tr>
        <tr th:each="event: ${events}">
            <td th:text="${event.id}"></td>
            <td th:text="${event.distance}"></td>
            <td th:text="${event.totalCost}"></td>
            <td>
                <form action="#" th:action="@{/event/deleteEvent}" th:object="${eventToDelete}"
                      method="post">
                    <input type="hidden" name="id" th:value="${event.id}">
                    <button type="submit">
                        <span>Delete</span>
                    </button>
                </form>
            </td>
        </tr>
    </table>
    <table style="width:40%;height:40px;margin:5px;">

        <form action="#" th:action="@{/event/createEvent}" th:object="${newEvent}" method="post">
            <tr>
                <td>Distance</td>
                <td>Cost</td>
                <td>Save</td>
            </tr>
            <tr>
                <td>
                    <input id="distance" placeholder="test" type="text"
                           th:field="*{distance}"/>
                    <label for="distance">Distance</label>
                </td>
                <td>
                    <input id="costPerKilometer" placeholder="test" type="text"
                           th:field="*{costPerKilometer}"/>
                    <label for="costPerKilometer">Cost per Kilometer</label>
                </td>
                <td>
                    <button type="submit">
                        <span>Save</span>
                    </button>
                </td>
            </tr>
        </form>
    </table>
</div>
</body>

</html>