<html xmlns:th="http://www.thymeleaf.org" xmlns:style="http://www.w3.org/1999/xhtml">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Event Config</title>

</head>
<style>
table, th, td {
  border:1px solid black;
  border-radius: 5px;
}

table

body{
 font-family: 'Trebuchet MS', sans-serif;
}

.fat {
  font-size: 20px;
  height: 40px;
}

</style>
<body>

<div style="display: flex">
    <h1 style="width:60%">List of Events</h1>
    <h1 style="width:40%">New Event</h1>
</div>
<div style="display: flex;justify-content:flex-end;margin:20px;">

    <table style="width:60%;margin:5px;">
        <tr>
            <td class="fat">ID</td>
            <td class="fat">Distance in kilometers</td>
            <td class="fat">Total cost in euros</td>
            <td class="fat">Delete</td>
        </tr>
        <tr th:each="event: ${events}">
            <td th:text="${event.id}"></td>
            <td th:text="${event.distance}+ km"></td>
            <td th:text="${event.totalCost}+€"></td>
            <td>
                <form action="#" th:action="@{/event/deleteEvent}" th:object="${eventToDelete}"
                      method="post">
                    <input type="hidden" name="id" th:value="${event.id}">
                    <button type="submit">
                        <span>Delete</span>
                    </button>
                </form>
            </td>
        </tr>
    </table>
    <table style="width:40%;height:40px;margin:5px;">

        <form action="#" th:action="@{/event/createEvent}" th:object="${newEvent}" method="post">
            <tr>
                <td>
                    <label for="distance">Distance</label>
                    <input id="distance" placeholder="Distance" type="text"
                           th:field="*{distance}"/>
                </td>
                <td>
                    <label for="costPerKilometer">Cost per Kilometer</label>
                    <input id="costPerKilometer" placeholder="Cost" type="text"
                           th:field="*{costPerKilometer}"/>
                </td>
                <td>
                    <button type="submit">
                        <span>Save</span>
                    </button>
                </td>
            </tr>
        </form>
    </table>
</div>
</body>

</html>